CryptoConsumer/Connected Services/CryptoProviderServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CryptoProvider" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CryptoProvider" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICryptoProvider_RC4Crypt_InputMessage">
    <wsdl:part name="parameters" element="tns:RC4Crypt" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4Crypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC4CryptResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4Decrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:RC4Decrypt" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4Decrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC4DecryptResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4BitmapCrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:RC4BitmapCrypt" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4BitmapCrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC4BitmapCryptResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4BitmapDecrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:RC4BitmapDecrypt" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4BitmapDecrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC4BitmapDecryptResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_EnigmaCrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:EnigmaCrypt" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_EnigmaCrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnigmaCryptResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_TEACrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:TEACrypt" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_TEACrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:TEACryptResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_TEADecrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:TEADecrypt" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_TEADecrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:TEADecryptResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_CBC_TEACrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:CBC_TEACrypt" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_CBC_TEACrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:CBC_TEACryptResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_CBC_TEADecrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:CBC_TEADecrypt" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_CBC_TEADecrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:CBC_TEADecryptResponse" />
  </wsdl:message>
  <wsdl:portType name="ICryptoProvider">
    <wsdl:operation name="RC4Crypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/RC4Crypt" message="tns:ICryptoProvider_RC4Crypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/RC4CryptResponse" message="tns:ICryptoProvider_RC4Crypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RC4Decrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/RC4Decrypt" message="tns:ICryptoProvider_RC4Decrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/RC4DecryptResponse" message="tns:ICryptoProvider_RC4Decrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RC4BitmapCrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/RC4BitmapCrypt" message="tns:ICryptoProvider_RC4BitmapCrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/RC4BitmapCryptResponse" message="tns:ICryptoProvider_RC4BitmapCrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RC4BitmapDecrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/RC4BitmapDecrypt" message="tns:ICryptoProvider_RC4BitmapDecrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/RC4BitmapDecryptResponse" message="tns:ICryptoProvider_RC4BitmapDecrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnigmaCrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/EnigmaCrypt" message="tns:ICryptoProvider_EnigmaCrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/EnigmaCryptResponse" message="tns:ICryptoProvider_EnigmaCrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TEACrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/TEACrypt" message="tns:ICryptoProvider_TEACrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/TEACryptResponse" message="tns:ICryptoProvider_TEACrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TEADecrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/TEADecrypt" message="tns:ICryptoProvider_TEADecrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/TEADecryptResponse" message="tns:ICryptoProvider_TEADecrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CBC_TEACrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/CBC_TEACrypt" message="tns:ICryptoProvider_CBC_TEACrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/CBC_TEACryptResponse" message="tns:ICryptoProvider_CBC_TEACrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CBC_TEADecrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/CBC_TEADecrypt" message="tns:ICryptoProvider_CBC_TEADecrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/CBC_TEADecryptResponse" message="tns:ICryptoProvider_CBC_TEADecrypt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICryptoProvider" type="tns:ICryptoProvider">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RC4Crypt">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/RC4Crypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RC4Decrypt">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/RC4Decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RC4BitmapCrypt">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/RC4BitmapCrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RC4BitmapDecrypt">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/RC4BitmapDecrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnigmaCrypt">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/EnigmaCrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TEACrypt">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/TEACrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TEADecrypt">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/TEADecrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CBC_TEACrypt">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/CBC_TEACrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CBC_TEADecrypt">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/CBC_TEADecrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CryptoProvider">
    <wsdl:port name="BasicHttpBinding_ICryptoProvider" binding="tns:BasicHttpBinding_ICryptoProvider">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CryptoProvider/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>