CryptoConsumer/Connected Services/CryptoServiceReference/CryptoProvider.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CryptoProvider" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CryptoProvider" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Library.Crypto.Enigma" />
  <xs:complexType name="EnigmaState">
    <xs:sequence>
      <xs:element minOccurs="0" name="FastRotation" type="xs:int" />
      <xs:element minOccurs="0" name="FastStart" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Library.Crypto.Enigma" minOccurs="0" name="FastType" type="q1:Rotors.RotorType" />
      <xs:element minOccurs="0" name="MiddleRotation" type="xs:int" />
      <xs:element minOccurs="0" name="MiddleStart" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Library.Crypto.Enigma" minOccurs="0" name="MiddleType" type="q2:Rotors.RotorType" />
      <xs:element minOccurs="0" name="PlugboardConfiguration" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Library.Crypto.Enigma" minOccurs="0" name="ReflectorType" type="q3:Reflectors.ReflectorType" />
      <xs:element minOccurs="0" name="SlowRotation" type="xs:int" />
      <xs:element minOccurs="0" name="SlowStart" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Library.Crypto.Enigma" minOccurs="0" name="SlowType" type="q4:Rotors.RotorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnigmaState" nillable="true" type="tns:EnigmaState" />
</xs:schema>