CryptoConsumer/Connected Services/CryptoServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CryptoProvider" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CryptoProvider" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Library.Crypto.Enigma" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICryptoProvider_RC4_EncryptFile_InputMessage">
    <wsdl:part name="parameters" element="tns:RC4_EncryptFile" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4_EncryptFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC4_EncryptFileResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4_DecryptFile_InputMessage">
    <wsdl:part name="parameters" element="tns:RC4_DecryptFile" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4_DecryptFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC4_DecryptFileResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4_EncryptBitmap_InputMessage">
    <wsdl:part name="parameters" element="tns:RC4_EncryptBitmap" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4_EncryptBitmap_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC4_EncryptBitmapResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4_DecryptBitmap_InputMessage">
    <wsdl:part name="parameters" element="tns:RC4_DecryptBitmap" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4_DecryptBitmap_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC4_DecryptBitmapResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4_EncryptText_InputMessage">
    <wsdl:part name="parameters" element="tns:RC4_EncryptText" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4_EncryptText_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC4_EncryptTextResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4_DecryptText_InputMessage">
    <wsdl:part name="parameters" element="tns:RC4_DecryptText" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4_DecryptText_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC4_DecryptTextResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4_EncryptPlaintext_InputMessage">
    <wsdl:part name="parameters" element="tns:RC4_EncryptPlaintext" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4_EncryptPlaintext_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC4_EncryptPlaintextResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4_DecryptPlaintext_InputMessage">
    <wsdl:part name="parameters" element="tns:RC4_DecryptPlaintext" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_RC4_DecryptPlaintext_OutputMessage">
    <wsdl:part name="parameters" element="tns:RC4_DecryptPlaintextResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_Enigma_Encode_InputMessage">
    <wsdl:part name="parameters" element="tns:Enigma_Encode" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_Enigma_Encode_OutputMessage">
    <wsdl:part name="parameters" element="tns:Enigma_EncodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_TEA_EncryptFile_InputMessage">
    <wsdl:part name="parameters" element="tns:TEA_EncryptFile" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_TEA_EncryptFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:TEA_EncryptFileResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_TEA_DecryptFile_InputMessage">
    <wsdl:part name="parameters" element="tns:TEA_DecryptFile" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_TEA_DecryptFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:TEA_DecryptFileResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_TEA_EncryptBitmap_InputMessage">
    <wsdl:part name="parameters" element="tns:TEA_EncryptBitmap" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_TEA_EncryptBitmap_OutputMessage">
    <wsdl:part name="parameters" element="tns:TEA_EncryptBitmapResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_TEA_DecryptBitmap_InputMessage">
    <wsdl:part name="parameters" element="tns:TEA_DecryptBitmap" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_TEA_DecryptBitmap_OutputMessage">
    <wsdl:part name="parameters" element="tns:TEA_DecryptBitmapResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_CBC_EncryptFile_InputMessage">
    <wsdl:part name="parameters" element="tns:CBC_EncryptFile" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_CBC_EncryptFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CBC_EncryptFileResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_CBC_DecryptFile_InputMessage">
    <wsdl:part name="parameters" element="tns:CBC_DecryptFile" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_CBC_DecryptFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CBC_DecryptFileResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_CBC_EncryptBitmap_InputMessage">
    <wsdl:part name="parameters" element="tns:CBC_EncryptBitmap" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_CBC_EncryptBitmap_OutputMessage">
    <wsdl:part name="parameters" element="tns:CBC_EncryptBitmapResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_CBC_DecryptBitmap_InputMessage">
    <wsdl:part name="parameters" element="tns:CBC_DecryptBitmap" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_CBC_DecryptBitmap_OutputMessage">
    <wsdl:part name="parameters" element="tns:CBC_DecryptBitmapResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_CRC_ChecksumFile_InputMessage">
    <wsdl:part name="parameters" element="tns:CRC_ChecksumFile" />
  </wsdl:message>
  <wsdl:message name="ICryptoProvider_CRC_ChecksumFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CRC_ChecksumFileResponse" />
  </wsdl:message>
  <wsdl:portType name="ICryptoProvider">
    <wsdl:operation name="RC4_EncryptFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_EncryptFile" message="tns:ICryptoProvider_RC4_EncryptFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_EncryptFileResponse" message="tns:ICryptoProvider_RC4_EncryptFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RC4_DecryptFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_DecryptFile" message="tns:ICryptoProvider_RC4_DecryptFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_DecryptFileResponse" message="tns:ICryptoProvider_RC4_DecryptFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RC4_EncryptBitmap">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_EncryptBitmap" message="tns:ICryptoProvider_RC4_EncryptBitmap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_EncryptBitmapResponse" message="tns:ICryptoProvider_RC4_EncryptBitmap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RC4_DecryptBitmap">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_DecryptBitmap" message="tns:ICryptoProvider_RC4_DecryptBitmap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_DecryptBitmapResponse" message="tns:ICryptoProvider_RC4_DecryptBitmap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RC4_EncryptText">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_EncryptText" message="tns:ICryptoProvider_RC4_EncryptText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_EncryptTextResponse" message="tns:ICryptoProvider_RC4_EncryptText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RC4_DecryptText">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_DecryptText" message="tns:ICryptoProvider_RC4_DecryptText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_DecryptTextResponse" message="tns:ICryptoProvider_RC4_DecryptText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RC4_EncryptPlaintext">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_EncryptPlaintext" message="tns:ICryptoProvider_RC4_EncryptPlaintext_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_EncryptPlaintextResponse" message="tns:ICryptoProvider_RC4_EncryptPlaintext_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RC4_DecryptPlaintext">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_DecryptPlaintext" message="tns:ICryptoProvider_RC4_DecryptPlaintext_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/RC4_DecryptPlaintextResponse" message="tns:ICryptoProvider_RC4_DecryptPlaintext_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Enigma_Encode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/Enigma_Encode" message="tns:ICryptoProvider_Enigma_Encode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/Enigma_EncodeResponse" message="tns:ICryptoProvider_Enigma_Encode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TEA_EncryptFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/TEA_EncryptFile" message="tns:ICryptoProvider_TEA_EncryptFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/TEA_EncryptFileResponse" message="tns:ICryptoProvider_TEA_EncryptFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TEA_DecryptFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/TEA_DecryptFile" message="tns:ICryptoProvider_TEA_DecryptFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/TEA_DecryptFileResponse" message="tns:ICryptoProvider_TEA_DecryptFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TEA_EncryptBitmap">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/TEA_EncryptBitmap" message="tns:ICryptoProvider_TEA_EncryptBitmap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/TEA_EncryptBitmapResponse" message="tns:ICryptoProvider_TEA_EncryptBitmap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TEA_DecryptBitmap">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/TEA_DecryptBitmap" message="tns:ICryptoProvider_TEA_DecryptBitmap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/TEA_DecryptBitmapResponse" message="tns:ICryptoProvider_TEA_DecryptBitmap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CBC_EncryptFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/CBC_EncryptFile" message="tns:ICryptoProvider_CBC_EncryptFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/CBC_EncryptFileResponse" message="tns:ICryptoProvider_CBC_EncryptFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CBC_DecryptFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/CBC_DecryptFile" message="tns:ICryptoProvider_CBC_DecryptFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/CBC_DecryptFileResponse" message="tns:ICryptoProvider_CBC_DecryptFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CBC_EncryptBitmap">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/CBC_EncryptBitmap" message="tns:ICryptoProvider_CBC_EncryptBitmap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/CBC_EncryptBitmapResponse" message="tns:ICryptoProvider_CBC_EncryptBitmap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CBC_DecryptBitmap">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/CBC_DecryptBitmap" message="tns:ICryptoProvider_CBC_DecryptBitmap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/CBC_DecryptBitmapResponse" message="tns:ICryptoProvider_CBC_DecryptBitmap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CRC_ChecksumFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoProvider/CRC_ChecksumFile" message="tns:ICryptoProvider_CRC_ChecksumFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoProvider/CRC_ChecksumFileResponse" message="tns:ICryptoProvider_CRC_ChecksumFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICryptoProvider" type="tns:ICryptoProvider">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RC4_EncryptFile">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/RC4_EncryptFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RC4_DecryptFile">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/RC4_DecryptFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RC4_EncryptBitmap">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/RC4_EncryptBitmap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RC4_DecryptBitmap">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/RC4_DecryptBitmap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RC4_EncryptText">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/RC4_EncryptText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RC4_DecryptText">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/RC4_DecryptText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RC4_EncryptPlaintext">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/RC4_EncryptPlaintext" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RC4_DecryptPlaintext">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/RC4_DecryptPlaintext" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Enigma_Encode">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/Enigma_Encode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TEA_EncryptFile">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/TEA_EncryptFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TEA_DecryptFile">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/TEA_DecryptFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TEA_EncryptBitmap">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/TEA_EncryptBitmap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TEA_DecryptBitmap">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/TEA_DecryptBitmap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CBC_EncryptFile">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/CBC_EncryptFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CBC_DecryptFile">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/CBC_DecryptFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CBC_EncryptBitmap">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/CBC_EncryptBitmap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CBC_DecryptBitmap">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/CBC_DecryptBitmap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CRC_ChecksumFile">
      <soap:operation soapAction="http://tempuri.org/ICryptoProvider/CRC_ChecksumFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CryptoProvider">
    <wsdl:port name="BasicHttpBinding_ICryptoProvider" binding="tns:BasicHttpBinding_ICryptoProvider">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CryptoProvider/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>